.panel.panel-default
    .panel-heading President Data
    .panel-body
        pre {{presidentsData}}
        pre {{presidentsStatus}}
        pre {{presidentsConfig}}
        pre {{presidentsStatusText}}